.ld19Post {
    background-color: var(--gg-primary-light);
    border-radius: var(--gg-border-radius);
    width: 600px;
    height: 700px;
    display: grid;
    grid-template-rows: 8% 80% 12%;
}
.ld19PostHead,
.ld19PostBody,
.ld19PostFooter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ld19PostHead,
.ld19PostFooter {
    padding: 1rem;
}

.ld19PostFooter {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.ld19PostHead {
    gap: 1rem;
}
.skeleton-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.skeleton-title {
    width: 120px;
    height: 6px;
    border-radius: var(--gg-border-radius);
}
.skeleton-caption {
    width: 100%;
    height: 6px;
    border-radius: var(--gg-border-radius);
}

.short {
    width: 70%;
}

.ld19suggestedUser {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    height: 90px;
    justify-content: flex-start;
    align-items: center;
}
.ld19suggestedUser .skeleton-profile-image {
    width: 64px;
    height: 64px;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
}

.ld19userDetails {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    min-height: 220px;
}

.ld19userDetails .skeleton-profile-image {
    width: 128px;
    height: 128px;
}

.ld19userDetails .skeleton-title {
    width: 100px;
}
.ld19userDetails .skeleton-text {
    width: 100%;
    height: 6px;
}
.ld19userDetails .stats {
    width: 50%;
    display: flex;
    gap: 2rem;
}

.ld19Image .skeleton-image {
    height: 100% !important;
}

@media (max-width: 640px) {
    .ld19Post {
        width: 100%;
        border-radius: 0;
        width: 100%;
        height: 500px;
    }
    .skeleton-profile-image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .ld19PostHead,
    .ld19PostFooter {
        padding: 0.5rem;
    }
    .ld19userDetails {
        flex-direction: column;
    }
}

.ld19Post .image {
    height: 100%;
    width: 100%;
}

.ld19userDetails {
    width: 80%;
    background-color: var(--gg-primary-light);
    border-radius: var(--gg-border-radius);
    padding: 1rem;
}

.ld19Image .image {
    height: 200px;
    width: 100%;
}
.ld19Image.card {
    margin: 0;
}
@media (max-width: 640px) {
    .ld19Post {
        width: 100%;
    }
    .ld19userDetails {
        width: 100%;
    }
}

.br {
    border-radius: 8px;
}
.w80 {
    width: 100%;
}
.card {
    /* cursor: auto; */
}
.wrapper {
    width: 0px;
    animation: fullView 0.5s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
    height: 70%;
}
.profilePic {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
.comment {
    height: 10px;
    background: #777;
    margin-top: 20px;
}

@keyframes fullView {
    100% {
        width: 100%;
    }
}

.animate {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, #dbdbdb 4%, #a9a9a9 25%, #dbdbdb 36%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}
