.stt19Wrapper {
    position: fixed;
    bottom: 10px;
    right: 30px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.stt19Button {
    border: none;
    outline: none;
    background: var(--gg-primary-lightest);
    font-size: 2rem;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.stt19Button i {
    color: var(--gg-grey-light);
    transition: color 0.3s ease;
}

.stt19Button:hover i {
    color: var(--gg-off-white);
}

.stt19Wrapper.hidden {
    opacity: 0;
}
