.gv19Wrapper {
    width: 80vw;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
}
.gv19gridView {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.gv19Post {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 640px) {
    .gv19gridView {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
    }
}

@media (min-width: 1200px) {
    .gv19gridView {
        width: 80vw;
        padding: 0;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 400px;
    }
}
